/* Demo/example CSS - not needed for general use */

body {
 font:normal 75% verdana,arial,tahoma,"times new roman","sans serif";
}

.clear {
 float:none;
 clear:both;
 font-size:1px;
 line-height:1px;
 height:1px;
}

h1, h2 {
 font-size:1.5em;
 letter-spacing:-1px;
 margin:0px;
}

h2 {
 font-size:1.2em;
 font-weight:normal;
}

#soundmanagermovie {
 position:absolute;
 left:-999px;
 top:-999px;
}

#mpc {
 width:37em;
 padding:1em;
 border:1px solid #ccc;
 background:#eee;
}

#mpc ul {
 margin:0px;
 padding:0px;
}

#mpc ul li {
 position:relative;
 float:left;
 display:inline;
 width:8em;
 height:7em;
 margin:0.5em;
 background:#999;
 border:1px solid #333;
 font:normal 1em/1em "lucida console",terminal,system;
 padding:0.5em 0px;
 text-indent:0.5em;
 cursor:pointer;
 cursor:hand;
 color:#ccc;
 text-transform:uppercase;
}

#mpc ul li.active {
 background:#666;
}

#mpc ul li div {
 /* progress indicator */
 position:absolute;
 left:0px;
 bottom:1em;
 font-size:1em;
 line-height:1em;
 height:1em;
 margin:0px 0px 0px 1em;
 width:6em;
 background:#888 url(../image/progress.png) no-repeat -256px 0px;
 background-repeat:no-repeat;
 border:1px solid #666;
 visibility:hidden;
}

#mpc ul li.active div,
#mpc ul li.loading div {
 visibility:visible;
}

#soundmanager-debug {
 position:absolute;
 left:42em;
 top:1em;
 height:42em;
 *width:38em;
 overflow:auto;
}

#soundmanager-debug div {
 font:normal 0.8em;
 font-family: "lucida console",system,terminal,verdana,arial; /* IE doesn't seem to obey short-hand font family here? */
 padding:0px 1em 0.5em 0px;
}

#sm2-container {
 /* where the SM2 flash movie goes. */
 position:relative;
}

#sm2-container,
#sm2-container embed,
#sm2-container.swf_timedout {
 /* 48px square flash placeholder is typically used by blockers */
 width:48px;
 height:48px;
}

#sm2-container.swf_timedout {
 /* likely a flash block situation. Maybe make it more bold, red, show descriptive nested elements? */
 border:1px solid red;
}

#sm2-container object,
#sm2-container embed {
 /* hide flash off-screen by default */
 position:absolute;
 left:-9999em;
 top:-9999em;
}

#sm2-container.swf_timedout object,
#sm2-container.swf_timedout embed {
 /* when blocked, make visible inside container */
 left:auto;
 top:auto;
}

#sm2-container object,
#sm2-container embed {
 /* 6x6 is small enough to be "invisible" and not blocked by click2flash if allowed, also enough to be really fast/performant on-screen */
 width:48px;
 height:48px;
}

#sm2-container.swf_unblocked,
#sm2-container.swf_unblocked object,
#sm2-container.swf_unblocked embed {
 width:6px;
 height:6px;
}

#sm2-container.high_performance {
 position:absolute;
 position:fixed;
 _top:0px; /* IE 6 hax */
 bottom:0px;
 left:0px;
}

#sm2-container.high_performance object,
#sm2-container.high_performance embed {
 position:absolute;
 left:0px;
 top:0px;
}
