/* 
 -----------------------------------------------------------------
 In-page demo CSS for code, documentation etc.
 See page-player.css for actual playlist-relevant stuff.
 -----------------------------------------------------------------
 */

#soundmanager-debug {
 /* SM2 debug container (optional, makes debug more useable) */
 position:absolute;position:fixed;*position:absolute;bottom:10px;right:10px;width:50em;height:18em;overflow:auto;background:#fff;margin:1em;padding:1em;border:1px solid #999;font-family:"lucida console",verdana,tahoma,"sans serif";font-size:x-small;line-height:1.5em;opacity:0.9;filter:alpha(opacity=90);z-index:99;
}

body {
 font:75% normal verdana,arial,tahoma,"sans serif";
}

h1, h2, h3 {
 font:300 3em "Helvetica Neue",georgia,"times new roman","Arial Rounded MT Bold",helvetica,verdana,tahoma,arial,"sans serif";
 margin-bottom:0px;
}

h1, h2 {
 letter-spacing:-1px; /* zomg web x.0! ;) */ 
}

h1, h2, h3 {
 float:left;
 clear:both;
 border-bottom:1px solid #999;
 padding-bottom:1px;
 margin-bottom:0.25em;
 /* font trickery */
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
}

h1 {
 margin-top:0px;
 margin-bottom:0px;
 background-color:#666;
 color:#ccc;
 margin-left:-5px;
 padding-left:5px;
 padding-right:5px;
}

h1,
h1 a {
 color:#fff;
 text-decoration:none;
}

h1 a:hover {
 text-decoration:underline;
}

h2 {
 font-size:2em;
 margin-top:1em;
 background-color:#aaa;
 color:#fff;
 padding:5px;
 margin-left:-5px;
 min-width:23em;
}

h3 {
 font-size:1.65em;
 margin-top:0.5em;
 margin-bottom:0.25em;
 color:#333;
 min-width:28em;
}

h3 a {
 font-size:small;
}

h4 {
 color:#444;
}

ul.notes {
 margin-left:0px;
 padding-left:1.5em;
}

.note {
 margin-top:0px;
 font-style:italic;
 color:#999;
}

pre {
 font-size:1.2em;
 _font-size:1em;
}

code {
 font-family:"lucida console",monaco,courier,system;
 font-size:1em;
 color:#003366;
}

code span {
 color:#666;
}

ul,
p,
pre {
 clear:left;
 max-width:46em;
}

ul.tight li {
 max-width:44.5em;
}

ul.playlist {
 /* undo the above nonsense */
 max-width:none;
}

ul.tight {
 padding-left:1.5em;
}
