/*

 DEMO ONLY, just to make the demo page pretty.

 You don't need this stuff for SM2 to work. :)

*/

body {
 font-size:75%;
 color:#333;
}

code, pre {
 font-family:"lucida console",monaco,courier,terminal,system;
 font-size:100%;
 color:#2233cc;
}

em em {
 font-weight:normal;
 font-style:normal;
 color:#339933;
}

h1, h2, h3 {
 font-family:"Helvetica Neue",helvetica,"times new roman","Arial Rounded MT Bold",helvetica,verdana,tahoma,arial,"sans serif";
 font-size:3em;
 font-weight:normal;
 margin-bottom:0px;
 color:#000;
}

h1 {
 margin-top:0px;
}

h1, h2 {
 letter-spacing:-1px; /* zomg web x.0! ;) */ 
}

h2 {
 font-size:2em;
 margin-top:0px;
 padding-top:0.5em;
}

p {
 font:normal 1em/1.5em verdana,tahoma,arial,"sans serif";
}

code span,
pre span {
 color:#666;
}